<?php echo $this->Form->create('Accomodation'); ?>
	<fieldset>
		<legend><?php echo __('Add Accomodation'); ?></legend>
	<?php
		echo $this->Form->input('city_id');
		echo $this->Form->textarea('address');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
