<?php echo $this->Form->create('Client'); ?>
	<fieldset>
		<legend><?php echo __('Edit Client'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('first_name');
		echo $this->Form->input('last_name');
		echo $this->Form->input('id_number');
		echo $this->Form->input('Address');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>

