<div class="flightSeats index">
	<h2><?php echo __('Flight Seats'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
    		<th><?php echo $this->Paginator->sort('flight_id'); ?></th>
    		<th><?php echo $this->Paginator->sort('seat_code'); ?></th>
    		<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($flightSeats as $flightSeat): ?>
	<tr>
		<td>
			<?php echo $this->Html->link($flightSeat['Flight']['id'], array('controller' => 'flights', 'action' => 'view', $flightSeat['Flight']['id'])); ?>
		</td>
		<td><?php echo h($flightSeat['FlightSeat']['seat_code']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $flightSeat['FlightSeat']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $flightSeat['FlightSeat']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $flightSeat['FlightSeat']['id']), array(), __('Are you sure you want to delete # %s?', $flightSeat['FlightSeat']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<ul>
		<li><?php echo $this->Html->link(__('New Flight Seat'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Flights'), array('controller' => 'flights', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Flight'), array('controller' => 'flights', 'action' => 'add')); ?> </li>
	</ul>
</div>
