<div class="addressTypes form">
<?php echo $this->Form->create('AddressType'); ?>
	<fieldset>
		<legend><?php echo __('Add Address Type'); ?></legend>
	<?php
		echo $this->Form->input('address_type');
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<ul>

		<li><?php echo $this->Html->link(__('List Address Types'), array('action' => 'index')); ?></li>
	</ul>
</div>
