<div class="addressTypes form">
<?php echo $this->Form->create('AddressType'); ?>
	<fieldset>
		<legend><?php echo __('Edit Address Type'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('address_type');
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('AddressType.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('AddressType.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Address Types'), array('action' => 'index')); ?></li>
	</ul>
</div>
