<div class="tourOptions form">
<?php echo $this->Form->create('TourOption'); ?>
	<fieldset>
		<legend><?php echo __('Add Tour Option'); ?></legend>
	<?php
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<ul>

		<li><?php echo $this->Html->link(__('List Tour Options'), array('action' => 'index')); ?></li>
	</ul>
</div>
